#container {
	width: 900px;
	margin: auto;
}

#left_side {
	width: 400px;
	height: 600px;
	display: inline-block;
}

#right_side {
	width: 400px;
	height: 600px;
	display: inline-block;
	vertical-align: top;
}

#right_side > div {
	width: 200px;
	height: 100px;
	display: block;
	border: 2px solid black;
}
